QR-code/qr-code/qr-code-component-main

QR-code/qr-code/node_modules
QR-code/qr-code/.pnp
QR-code/qr-code/.pnp.js

# testing
QR-code/qr-code/coverage

# next.js
QR-code/qr-code/.next/
QR-code/qr-code/out/

# production
QR-code/qr-code/build

# misc
QR-code/qr-code/.DS_Store
QR-code/qr-code/*.pem

# debug
QR-code/qr-code/npm-debug.log*
QR-code/qr-code/yarn-debug.log*
QR-code/qr-code/yarn-error.log*

# local env files
QR-code/qr-code/.env*.local

# vercel
QR-code/qr-code/.vercel

# typescript
QR-code/qr-code/*.tsbuildinfo
QR-code/qr-code/next-env.d.ts

Article-Preview/Article-Preview/Article-Preview-component-main

Article-Preview/Article-Preview/node_modules
Article-Preview/Article-Preview/.pnp
Article-Preview/Article-Preview/.pnp.js

# testing
Article-Preview/Article-Preview/coverage

# next.js
Article-Preview/Article-Preview/.next/
Article-Preview/Article-Preview/out/

# production
Article-Preview/Article-Preview/build

# misc
Article-Preview/Article-Preview/.DS_Store
Article-Preview/Article-Preview/*.pem

# debug
Article-Preview/Article-Preview/npm-debug.log*
Article-Preview/Article-Preview/yarn-debug.log*
Article-Preview/Article-Preview/yarn-error.log*

# local env files
Article-Preview/Article-Preview/.env*.local

# vercel
Article-Preview/Article-Preview/.vercel

# typescript
Article-Preview/Article-Preview/*.tsbuildinfo
Article-Preview/Article-Preview/next-env.d.ts